// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
    margin:0;
    padding:0;

}

.loginpage{
    background-color: #EDFFC6;
    text-align: center;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EDFFC6;
 }


.h2{
    text-align: center;
    margin-bottom: auto;
}

.field{
    margin:auto
}
